.container {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "   .     .     .     .     .   "
    "item3  item3  item3  item3  item3"
    "   .     .     .     .     .   "
    "   .     item1 item1 item1 .   "
    "   .     .     item2 .     .   "
    "   .     .     .     .     .   "
    "   .     .     .     .     .   "
    "   .     .     .     .     .   ";
}

.item {
  border: 2px red solid;
  background-color: peachpuff;
  text-align: center;
  margin: 5px;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.error_message {
  color: red;
}
